html, body {
  height: 100%;
}

#main {
  position: relative;
  height: 100%;
}

#question {
    position: absolute;
    display: block;
    padding: 15px;
    text-align: center;
    background-color: white;
    opacity: 0.75;
    font-family: "Futura";
    border-radius: 5px;
    width: 30%;
    left: 35%;
    top: 40%;
}

.imageWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: none;
}

.imageWrapper .image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -ms-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    -webkit-transition: background-size 0.5s;
}

.imageWrapper .image:hover {
    background: white;
    background-size: 90% 90%;
}

.clickArea {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    border-style: none;
}

.choiceBlock {
    position: fixed;
    width: 50%;
    height: 50%;
    border-style: none;
}

#topLeftChoiceBlock {
    top: 0;
    left: 0;
    background-color: #420943  ;
}

#topRightChoiceBlock {
    top: 0;
    left: 50%;
    background-color: #420943 ;
}

#bottomLeftChoiceBlock {
    top: 50%;
    left: 0;
    background-color: #420943 ;
}

#bottomRightChoiceBlock {
    top: 50%;
    left: 50%;
    background-color: #420943  ;
}
